<div class="form-container">
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, maxlength: 30 %>
    </div>

     <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, maxlength: 1000 %>
    </div>

    <div class="field">
      <%= form.label :due_date %>
      <%= form.date_field :due_date %>
    </div>

    <div class="action-buttons">
      <%= form.submit class: "btn btn-success" %>
      <%= link_to "Cancel", tasks_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>